body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff5f7;
}

header {
    background: #ff99b6;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: url("img/cosmeticos.jpg") center/cover no-repeat;
    padding: 100px 20px;
    text-align: center;
    color: #333;
}

.productos {
    padding: 40px;
    text-align: center;
}

.item {
    display: inline-block;
    width: 250px;
    margin: 20px;
}

.item img {
    width: 100%;
    border-radius: 10px;
}

footer {
    background: #ff99b6;
    text-align: center;
    padding: 15px;
    color: white;
}
.nosotros {
    padding: 60px 20px;
    background: #ffeaf1;
    text-align: center;
}

.nosotros h2 {
    font-size: 32px;
    color: #b30059;
    margin-bottom: 30px;
}

.nosotros-contenido {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.nosotros-contenido img {
    width: 350px;
    border-radius: 15px;
}

.texto-nosotros {
    width: 350px;
    text-align: left;
}

.texto-nosotros h3 {
    color: #ff4d88;
    margin-top: 10px;
}

.texto-nosotros p {
    color: #333;
    line-height: 1.5;
    margin-bottom: 15px;
}
.contacto {
    padding: 60px 20px;
    background: #ffd6e2;
    text-align: center;
}

.contacto h2 {
    font-size: 32px;
    color: #b30059;
    margin-bottom: 25px;
}

.formulario-contacto {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 10px #0002;
}

.formulario-contacto input,
.formulario-contacto textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #ff99b6;
    border-radius: 8px;
    font-size: 16px;
}

.formulario-contacto button {
    padding: 12px;
    background: #ff4d88;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.formulario-contacto button:hover {
    background: #e6005c;
}
