/* TIPOGRAFÍAS Y BASE */
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #f6f2ed;
    color: #3a2f2a;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

/* HEADER */
.header {
    width: 100%;
    background: white;
    padding: 18px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.07);
}

.logo {
    display: flex;
    flex-direction: column;
    line-height: 1;
}

.logo-bfh {
    font-size: 40px;
    color: #2c2c2c;
    letter-spacing: 4px;
    font-weight: 700;
}

.logo-line {
    font-size: 14px;
    color: #b8926d;
    letter-spacing: 4px;
}

/* NAV */
.menu a {
    margin-left: 25px;
    text-decoration: none;
    color: #2c2c2c;
    font-weight: 500;
    transition: 0.3s;
}

.menu a:hover {
    color: #b8926d;
}

/* HERO */
.hero {
    height: 75vh;
    background: url("../img/hero.jpg") no-repeat center/cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.35);
}

.hero-text {
    position: relative;
    z-index: 10;
    text-align: center;
    color: white;
}

.hero-text h1 {
    font-size: 65px;
}

.hero-text span {
    color: #d6b08c;
}

.hero-text p {
    margin-top: 10px;
    font-size: 18px;
}

.btn-hero {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 35px;
    background: #b8926d;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s;
}

.btn-hero:hover {
    background: #a57d5d;
}

/* PRODUCTOS */
.productos {
    padding: 70px 40px;
    text-align: center;
}

.productos h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    padding: 20px;
}

.card {
    background: white;
    padding: 18px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

/* NOSOTRAS */
.nosotras {
    padding: 80px 40px;
    text-align: center;
}

.nosotras h2 {
    font-size: 40px;
}

.texto-nosotras {
    max-width: 700px;
    margin: auto;
    font-size: 18px;
}

/* CREADORAS */
.creadoras {
    padding: 80px 40px;
    text-align: center;
}

.grid-creadoras {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.card-creadora {
    background: white;
    padding: 20px;
    width: 260px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.foto {
    width: 100%;
    height: 220px;
    background: #d9c7b8;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 30px;
    background: white;
    margin-top: 40px;
}
