body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff5f7;
}

header {
    background: #ff99b6;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: url("img/cosmeticos.jpg") center/cover no-repeat;
    padding: 100px 20px;
    text-align: center;
    color: #333;
}

.productos {
    padding: 40px;
    text-align: center;
}

.item {
    display: inline-block;
    width: 250px;
    margin: 20px;
}

.item img {
    width: 100%;
    border-radius: 10px;
}

footer {
    background: #ff99b6;
    text-align: center;
    padding: 15px;
    color: white;
}
