/* ------ ESTILOS GENERALES ------ */
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f7f5f2;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: white;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 3px;
    color: #000;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #444;
    font-weight: 600;
}

nav a.activo,
nav a:hover {
    color: #b38b59;
}

/* ------ HERO ------ */
.hero {
    background: url('../img/hero.jpg') center/cover no-repeat;
    height: 75vh;
    display: flex;
    align-items: center;
    padding-left: 80px;
}

.hero-text h2 {
    font-size: 50px;
    margin: 0;
}

.hero-text p {
    width: 50%;
    font-size: 20px;
}

.boton {
    display: inline-block;
    padding: 12px 25px;
    background-color: #b38b59;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
    font-weight: bold;
}

/* ------ PRODUCTOS ------ */
.contenedor-productos {
    padding: 40px;
}

.grid-productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 30px;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    border: 1px solid #e4e4e4;
    transition: .3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 8px;
}

.card h3 {
    margin: 10px 0;
}

.card p {
    color: #666;
    font-size: 15px;
}

/* ------ NOSOTROS ------ */
.acerca {
    padding: 50px;
    background-color: white;
    margin: 40px;
    border-radius: 10px;
}

/* ------ CONTACTO ------ */
.formulario {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    gap: 15px;
}

.formulario input,
.formulario textarea {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #b38b59;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* ------ FOOTER ------ */
footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

